python-dotenv
kaggle
kagglehub
numpy
pandas
scikit-learn
torch
tensorflow
tqdm
langchain
langchain-text-splitters
langchain_openai
langchain_huggingface
langchain_pinecone
langchain_core
fastembed-gpu
onnxruntime-gpu
pinecone